version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'fix'
      prefix-development: 'chore'
      include: 'scope'
    groups:
      production-minor-patch:
        dependency-type: 'production'
        update-types: ['minor', 'patch']
      development-minor-patch:
        dependency-type: 'development'
        update-types: ['minor', 'patch']
    open-pull-requests-limit: 10

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: 'ci'
      include: 'scope'
    open-pull-requests-limit: 10
